.view-input-attr {
  border-radius: 0;
  padding-right: 0;
}

.view-header-attr {
  margin-top: 40px;
  border: solid 1px #FF6319
}

.table .btn {
  min-width: 100%;
}

.auto-margin {
  margin: auto;
}

.empty-filters {
  margin: auto;
  font-size: 2em;
  color: #FF6319;
  cursor: pointer;
}

.no-clients-found {
  text-align: center;
  margin-top: 70px;
  color: #FF6319;
}

.center-text {
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.confirm-button {
  width: 70px;
  margin-right: 15px;
}
