.view-input-attr {
  border-radius: 0;
  padding-right: 0;
}

.view-header-attr {
  margin-top: 40px;
  border: solid 1px #FF6319
}

.table .btn {
  min-width: 100%;
}

.auto-margin {
  margin: auto;
}
