<div class="row header-height">
  <div class="col-2">
    <img class="align-right-custom" src="../../../assets/images/logo_omniva_large.png" alt="https://www.omniva.ee/public/banners/pood/logo_717x696.png" height="100px">
  </div>
  <div class="col-2 no-padding" style="margin-right: -1px">
    <canvas class="canvas-attr" id="myCanvas" width="175" height="100">
    </canvas>
  </div>
  <div class="col-8 omniva-red-background">
    <div class="text-attr">
      <h3 class="">{{ title | translate }}</h3>
      <div class="padding-between-title row" data-toggle="dropdown">
        <h5>{{sharedService.lang}}</h5>
        <i class="fa fa-chevron-down chevron-margin"></i>
      </div>
      <div class="dropdown-menu dropdown-menu-right">
        <h6 class="dropdown-item"><b>{{ 'admin.languageChoice' | translate }}</b></h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="changeLang('EST')">EST</a>
        <a class="dropdown-item" (click)="changeLang('ENG')">ENG</a>
        <a class="dropdown-item" (click)="changeLang('RUS')">RUS</a>
        <a class="dropdown-item" (click)="changeLang('LIT')">LIT</a>
        <a class="dropdown-item" (click)="changeLang('LAT')">LAT</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [hidden]="sharedService.loggedIn" (click)="openLogin()"><b>{{ 'admin.title' | translate }}</b></a>
        <a class="dropdown-item" [hidden]="!sharedService.loggedIn" (click)="logout()"><b>{{ 'admin.logout' | translate }}</b></a>
      </div>
    </div>
  </div>
</div>
