.header-height {
  height: 100px;
  margin-top: 35px;
}

.text-attr {
  padding-top: 40px;
  padding-right: 20px;
  color: white;
  display:flex;
  float: right;
}

.padding-between-title {
  padding-left:23px;
  cursor:pointer;
  margin: auto;
}

.white {
  color: white;
}


.canvas-attr {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
}

.align-right-custom {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
}

.chevron-margin {
  margin-top: 2px;
}

.empty-filters {
  margin: auto;
}
