<div class="row language">
  <div class="col-12">
    <div class="dropdown d-flex justify-content-end align-items-center">
      <a id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{sharedService.lang}}
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
        <h6 class="dropdown-item"><b>{{ 'admin.languageChoice' | translate }}</b></h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="changeLang('EST')">EST</a>
        <a class="dropdown-item" (click)="changeLang('ENG')">ENG</a>
        <a class="dropdown-item" (click)="changeLang('RUS')">RUS</a>
        <a class="dropdown-item" (click)="changeLang('LIT')">LIT</a>
        <a class="dropdown-item" (click)="changeLang('LAT')">LAT</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [hidden]="sharedService.loggedIn" (click)="openLogin()"><b>{{ 'admin.title' | translate }}</b></a>
        <a class="dropdown-item" [hidden]="!sharedService.loggedIn" (click)="logout()"><b>{{ 'admin.logout' | translate }}</b></a>
      </div>
    </div>
  </div>
</div>

<div class="row header">
  <div class="col-3 no-padding header-margin">
    <a class="logo-pos" href="/"><img src="../../../assets/images/logo_omniva_large.png" alt="https://www.omniva.ee/public/banners/pood/logo_717x696.png" height="80px">
    </a>
    <canvas class="canvas-attr" id="myCanvas" width="175" height="80">
    </canvas>
  </div>
  <div class="col-9 omniva-red-background d-flex justify-content-end align-items-center white">
      <h3 class="">{{ title | translate }}</h3>
  </div>
</div>
