.language {
  height: 20px;
  margin: 5px 0;
}
.header, .header-logo img {
  height: 80px;
}
.header h3, .header i {
  padding: 0;
  margin: 0;
}
.header h3 {
  padding: 0 20px;
}
.header-logo img {
  margin-left: 20px;
}
.white {
  color: white;
}

.title-column {
  position: relative;
}
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
	border-top: 80px solid white;
	border-right: 80px solid transparent;
}

@media (max-width: 767px) { 
  .logo{
    display: none;
  }
  .rectangle {
    visibility: hidden;
  }
  .header {
    height: auto;
    min-height: 80px;
  }
}

