<form name="clientForm" id="clientForm" #clientForm="ngForm" (ngSubmit)="confirmChanges()">
  <div class="modal-header">
    <h5 *ngIf="client.id === null" class="modal-title" id="newClientTitle">{{ 'admin.add' | translate }}</h5>
    <h5 *ngIf="client.id !== null" class="modal-title" id="newModalTitle">{{ 'admin.edit' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
      <label for="axapta_s" class="col-12">{{ 'admin.table.axapta' | translate }}</label>
      <div class="col-12 form-group">
        <input type="text" [(ngModel)]="tempClient.axapta" class="form-control" id="axapta_s" name="axapta" required autocomplete="off">
      </div>
      <label for="name_s" class="col-12">{{ 'admin.table.name' | translate }}</label>
      <div class="col-12 form-group">
        <input type="text" [(ngModel)]="tempClient.name" class="form-control" id="name_s" name="name" required autocomplete="off">
      </div>
      <label for="street_s" class="col-12">{{ 'admin.table.street' | translate }}</label>
      <div class="col-12 form-group">
        <input type="text" [(ngModel)]="tempClient.street" class="form-control" id="street_s" name="street" required autocomplete="off">
      </div>
      <label for="city_s" class="col-12">{{ 'admin.table.city' | translate }}</label>
      <div class="col-12 form-group">
        <input type="text" [(ngModel)]="tempClient.city" class="form-control" id="city_s" name="city" required autocomplete="off">
      </div>
      <label for="postIndex_s" class="col-12">{{ 'admin.table.postIndex' | translate }}</label>
      <div class="col-12 form-group">
        <input type="text" [(ngModel)]="tempClient.postIndex" class="form-control" id="postIndex_s" name="postIndex" required autocomplete="off">
      </div>
      <label for="country_s" class="col-12">{{ 'admin.table.country' | translate }}</label>
      <div class="col-12 form-group input-group">
        <input type="text" [(ngModel)]="tempClient.country" class="form-control" id="country_s" name="country" required disabled autocomplete="off">
        <div class="input-group-btn dropdown-attr">
          <button type="button" class="selection-button btn btn-secondary dropdown-toggle dropdown-toggle-split dropdown-button-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <div class="dropdown-menu dropdown-menu-right scrollable-menu">
            <a *ngFor="let wareHouse of sharedService.wareHouses" class="dropdown-item" (click)="changeCountry(wareHouse)">{{ wareHouse }}</a>
          </div>
        </div>
      </div>
      <label for="deliveryCountry_s" class="col-12">{{ 'admin.table.deliveryCountry' | translate }}</label>
      <div class="col-12 form-group input-group">
        <input type="text" [(ngModel)]="tempClient.deliveryCountry" class="form-control" id="deliveryCountry_s" name="deliveryCountry" required disabled autocomplete="off">
        <div class="input-group-btn dropdown-attr">
          <button type="button" class="selection-button btn btn-secondary dropdown-toggle dropdown-toggle-split dropdown-button-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <div class="dropdown-menu dropdown-menu-right scrollable-menu">
            <a *ngFor="let wareHouse of sharedService.wareHouses" class="dropdown-item" (click)="changeDeliveryCountry(wareHouse)">{{ wareHouse }}</a>
          </div>
        </div>
      </div>
      <label for="serviceNumber_s" class="col-12">{{ 'admin.table.serviceNumber' | translate }}</label>
      <div class="col-12 form-group">
        <input type="text" [(ngModel)]="tempClient.serviceNumber" class="form-control" id="serviceNumber_s" name="serviceNumber" required autocomplete="off">
      </div>
    </div>
    <div class="modal-footer">
      <div *ngIf="client.id === null" class="col-12 row auto-margin">
        <div class="col-6 center">
          <button type="button" class="btn btn-lg col-12 omniva-red-background no-border white center-text" (click)="close()">{{ 'admin.table.close' | translate }}</button>
        </div>
        <div class="col-6 center">
          <button type="submit" class="btn btn-lg col-12 omniva-red-background no-border white center-text" [disabled]="!isFormFilled()">{{ 'admin.addButton' | translate }}</button>
        </div>
      </div>
      <div *ngIf="client.id !== null" class="col-12 row auto-margin">
        <div class="col-4">
          <button type="button" class="btn btn-lg col-12 omniva-red-background no-border white center-text" (click)="remove()">{{ 'admin.table.remove' | translate }}</button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-lg col-12 omniva-red-background no-border white center-text" (click)="close()">{{ 'admin.table.close' | translate }}</button>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-lg col-12 omniva-red-background no-border white center-text" [disabled]="!isFormFilled()">{{ 'admin.table.edit' | translate }}</button>
        </div>
      </div>
    </div>
</form>
