<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <form name="return-form" class="padding-from-header" (submit)="returnAgain()">
      <div class="col-12 center form-group">{{ 'success.info' | translate }}</div>
      <div class="col-12 center form-group">
        <button type="submit" class="btn btn-primary btn-lg col-12 omniva-red-background no-border">{{ 'success.button' | translate }}</button>
      </div>
      <a class="col-12 center form-group" href="https://www.omniva.ee/">{{ 'success.return' | translate }}</a>
    </form>
  </div>
  <div class="col-4"></div>
</div>
