
<div class="col-12 view-header-attr">
  <form name="filterForm" id="filterForm" class="row">
    <div class="col-12 form-group">FILTREERI</div>
    <div class="col-2 form-group">
      <input type="text" class="form-control view-input-attr" name="customCode" id="filterAxapta" placeholder="AXAPTA" [(ngModel)]="filterAxapta"/>
    </div>
    <div class="col-2 form-group">
      <input type="text" class="form-control view-input-attr" name="clientName" id="filterName" placeholder="KLIENDI NIMI" [(ngModel)]="filterName"/>
    </div>
    <div class="col-1 form-group">
      <input type="text" class="form-control view-input-attr" name="country" id="filterCountry" placeholder="RIIK" [(ngModel)]="filterCountry"/>
    </div>
    <div class="col-3 form-group">
      <input type="text" class="form-control view-input-attr" name="city" id="filterCity" placeholder="ASULA" [(ngModel)]="filterCity"/>
    </div>
    <div class="col-3 form-group">
      <input type="text" class="form-control view-input-attr" name="street" id="filterStreet" placeholder="TÄNAV" [(ngModel)]="filterStreet"/>
    </div>
    <div class="col-1 form-group">
      <button type="submit" class="btn omniva-red-background no-border white"><i class="fa fa-search"></i></button>
    </div>
  </form>
</div>
<div class="col-12">
  <table class="table">
    <thead>
    <tr>
      <th>{{ 'admin.table.id' | translate }}</th>
      <th>{{ 'admin.table.axapta' | translate }}</th>
      <th>{{ 'admin.table.name' | translate }}</th>
      <th>{{ 'admin.table.street' | translate }}</th>
      <th>{{ 'admin.table.city' | translate }}</th>
      <th>{{ 'admin.table.postIndex' | translate }}</th>
      <th>{{ 'admin.table.country' | translate }}</th>
      <th>{{ 'admin.table.deliveryCountry' | translate }}</th>
      <th>{{ 'admin.table.serviceCode' | translate }}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients; let i = index">
      <td>{{i}}</td>
      <td>{{client.axapta}}</td>
      <td>{{client.street}}</td>
      <td>{{client.name}}</td>
      <td>{{client.city}}</td>
      <td>{{client.postIndex}}</td>
      <td>{{client.country}}</td>
      <td>{{client.deliveryCountry}}</td>
      <td>{{client.serviceNumber}}</td>
      <td><button (click) = "edit(editModal,client)" class="btn omniva-red-background no-border white">{{ 'admin.table.edit' | translate }}</button></td>
    </tr>
    </tbody>
  </table>
</div>

<!-- EditModal -->
<ng-template #editModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" id="editModalTitle">{{ 'admin.edit' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<form name="editForm" id="editForm" (submit)="confirmEdit(); c('Close click')">
    <div class="modal-body">
      <label for="axapta" class="col-12">{{ 'admin.table.axapta' | translate }}
      <input type="text" [(ngModel)]="axapta" class="form-control" id="axapta" name="axapta" required></label>
      <label for="street" class="col-12">{{ 'admin.table.street' | translate }}
      <input type="text" [(ngModel)]="street" class="form-control" id="street" name="street" required></label>
    </div>
    <div class="modal-footer">
      <div class="col-4"></div>
      <div class="col-4 center">
        <button type="submit" class="btn btn-lg col-12 omniva-red-background no-border white">{{ 'admin.table.edit' | translate }}</button>
      </div>
      <div class="col-4"></div>
    </div>
  </form>
</ng-template>
