<div class="col-12 view-header-attr">
  <form name="filterForm" id="filterForm" class="row" (ngSubmit)="clientService.filter()">
    <div class="col-12 form-group">{{ 'filter.title' | translate }}</div>
    <div class="col-2 form-group">
      <input type="text" class="form-control view-input-attr" name="filterAxapta" id="filterAxapta" [placeholder]="'filter.placeholder.axapta' | translate" [(ngModel)]="clientService.filterAxapta"/>
    </div>
    <div class="col-2 form-group">
      <input type="text" class="form-control view-input-attr" name="filterName" id="filterName" [placeholder]="'filter.placeholder.clientName' | translate" [(ngModel)]="clientService.filterName"/>
    </div>
    <div class="col-3 form-group">
      <input type="text" class="form-control view-input-attr" name="filterStreet" id="filterStreet" [placeholder]="'filter.placeholder.street' | translate" [(ngModel)]="clientService.filterStreet"/>
    </div>
    <div class="col-2 form-group">
      <input type="text" class="form-control view-input-attr" name="filterCity" id="filterCity" [placeholder]="'filter.placeholder.city' | translate" [(ngModel)]="clientService.filterCity"/>
    </div>
    <div class="col-2 form-group input-group">
      <input type="text" class="form-control" name="filterCountry" id="filterCountry" [placeholder]="'filter.placeholder.country' | translate" [(ngModel)]="clientService.filterCountry" disabled/>
      <div class="input-group-btn dropdown-attr">
        <button type="button" class="selection-button btn btn-secondary dropdown-toggle dropdown-toggle-split dropdown-button-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu dropdown-menu-right scrollable-menu">
          <a *ngFor="let wareHouseOrigin of sharedService.wareHouses" class="dropdown-item" (click)="changeCountry(wareHouseOrigin)">{{ wareHouseOrigin }}</a>
        </div>
      </div>
    </div>
    <div class="col-1 form-group row">
      <button type="submit" class="btn omniva-red-background no-border white"><i class="fa fa-search"></i></button>
      <i [hidden]="canFilter()" class="fa fa-ban empty-filters" (click)="emptyFilters()"></i>
    </div>
  </form>
</div>
<div *ngIf="clientService.filteredClients.length === 0" class="col-12">
  <h3>{{ 'admin.table.noClientsFound' | translate }}</h3>
</div>
<div *ngIf="clientService.filteredClients.length > 0" class="col-12">
  <table class="table">
    <thead>
    <tr>
      <th>{{ 'admin.table.id' | translate }}</th>
      <th>{{ 'admin.table.axapta' | translate }}</th>
      <th>{{ 'admin.table.name' | translate }}</th>
      <th>{{ 'admin.table.street' | translate }}</th>
      <th>{{ 'admin.table.city' | translate }}</th>
      <th>{{ 'admin.table.postIndex' | translate }}</th>
      <th>{{ 'admin.table.country' | translate }}</th>
      <th>{{ 'admin.table.deliveryCountry' | translate }}</th>
      <th>{{ 'admin.table.serviceNumber' | translate }}</th>
      <th><button (click) = "newBusinessClient()" class="btn omniva-red-background no-border white">{{ 'admin.addButton' | translate }}</button></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clientService.filteredClients">
      <td>{{client.id}}</td>
      <td>{{client.axapta}}</td>
      <td>{{client.name}}</td>
      <td>{{client.street}}</td>
      <td>{{client.city}}</td>
      <td>{{client.postIndex}}</td>
      <td>{{client.country}}</td>
      <td>{{client.deliveryCountry}}</td>
      <td>{{client.serviceNumber}}</td>
      <td><button (click) = "edit(client)" class="btn omniva-red-background no-border white">{{ 'admin.table.edit' | translate }}</button></td>
    </tr>
    </tbody>
  </table>
</div>
