.center {
  display: flex;
  justify-content: center;
}
.omniva-red-background {
  background-color: #FF6319;
}

.no-padding {
  padding: 0px;
}

.scrollable-menu {
  height: auto;
  max-height: 175px;
  overflow-x: hidden;
}
