<div class="row justify-content-center">
    <div class="col-xl-4 col-l-5 col-md-6 col-sm-7 col-11">
      <form name="return-form" class="padding-from-header" (submit)="validate()">
        <div class="center form-group">{{ 'user.info' | translate }}</div>

        <div class="form-group">
          <label for="deliveryCountry">{{ 'user.deliveryCountry' | translate }}</label>
          <div class="input-group">
            <input type="text" [(ngModel)]="sharedService.deliveryCountry" class="form-control" id="deliveryCountry" name="deliveryCountry" disabled required>
            <div class="input-group-btn dropdown-attr">
              <button type="button" class="selection-button btn btn-secondary dropdown-toggle dropdown-toggle-split dropdown-button-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu dropdown-menu-right scrollable-menu">
                <a *ngFor="let country of sharedService.wareHouses" class="dropdown-item" (click)="changeActiveCountry(country)">{{country}}</a>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="recipient">{{ 'user.recipient' | translate }}</label>
          <div class="input-group">
            <input type="text" [(ngModel)]="recipient" class="form-control" id="recipient" name="recipient" [ngbTypeahead]="search" [disabled]="sharedService.deliveryCountry.length === 0" required>
            <div class="input-group-btn dropdown-attr">
              <button type="button" class="selection-button btn btn-secondary dropdown-toggle dropdown-toggle-split dropdown-button-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="sharedService.deliveryCountry.length === 0">
              </button>
              <div class="dropdown-menu dropdown-menu-right scrollable-menu">
                <a *ngFor="let company of filteredCompanies" class="dropdown-item" (click)="changeActiveCompany(company.id)">{{company.name}}</a>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="name">{{ 'user.name' | translate }}</label>
          <input type="text" [(ngModel)]="name" class="form-control" id="name" name="name" required>
        </div>

        <div class="form-group">
          <label for="mobile">{{ 'user.mobile' | translate }}</label>
          <input type="tel" [(ngModel)]="mobile" class="form-control " id="mobile" name="mobile" required>
        </div>

        <div class="form-group">
          <label for="email">{{ 'user.email' | translate }}</label>
          <input type="email" [(ngModel)]="email" class="form-control" id="email" name="email" required>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg col-12 omniva-red-background no-border">{{ 'user.button.submitReturn' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
